<head>
    <meta charset="UTF-8">
  </head>
<body>
    <div>
        <table>
            <tr>
                <th>Organização</th>
                <th>Repositório</th>
                <th>Conteudo</th>
            </tr>
            
            {% for readme in lista %}
            <tr>
                <td>{{readme.Organizacao}}</td>
                <td>{{readme.Repositorio}}</td>
                <td>{{readme.conteudo}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
